#root {
  min-width: 280px;
  max-width: 850px;
  margin: 0;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding-left: 15px;
}

.nav--logo {
  height: 32px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  align-items: start;
  justify-content: start;
  padding: 0px 15px;
  flex-wrap: nowrap;
  margin: 20px 0px;
}

.hero--photo {
  display: flex;
  max-width: 600px;
  align-self: center;
  margin-bottom: 15px;
}

.hero--header {
  width: 100%;
  height: 27px;
  color: rgba(107, 101, 167, 1);
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.hero--text {
  width: 100%;
  height: 39.31px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0px;
}

.cards--list{
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 20px;
}

.card {
  position: relative;
  width: 160px;
  height: 275px;
  border-radius: 7px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px;
  flex-wrap: nowrap;
}


.card--cover {
  position: relative;
  width: 100%;
  height: 210px;
  border-radius: 7px;
  box-shadow: inset 0px -1px 4px 3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0px;
  padding: 0px;
  flex-wrap: nowrap;
  margin: 0px;
  align-self: center;
  overflow: hidden;
}
.card--cover > img {
  z-index: -1;
  height: 100%;
}

.card--badge {
  position: absolute;
  width: 44px;
  height: 15px;
  left: 108px;
  top: 6px;
  border-radius: 3px;
  background-color: rgba(107, 101, 167, 1);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  flex-wrap: nowrap;
  font-size: 10px;
  color: white;
  margin: 0;
}
.card--favorite{
  position: absolute;
  left: 130px;
  top: 180px;
  border-radius: 50%;
  background-color: rgba(107, 101, 167, 1);
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  align-content: center;
  align-items: center;
  text-align: justify;
  padding: 2px;
}
.card--favstar{
  width: 12pt;
}

.card--favorite:hover{
  transform: translateY(-2px);
}
.card--favorite:active{
  transform: translateY(-4px);
}


.card--title {
  font-weight: 600;
  position: relative;
  width: 100%;
  height: 28px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0px;
  padding: 3px 3px 0px;
  flex-wrap: nowrap;
  font-size: 11px;
  margin: 1px 5px;
  line-height: 1;
}

.card--platforms {
  position: relative;
  width: 156px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 0px 0px;
  flex-wrap: nowrap;
  margin: 0px 5px;
  font-size: 9.5px;
}
.platforms-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
}
.platforms-list::-webkit-scrollbar {
  display: none;
}

.platforms-list > span {
    height: 11px;
    border-radius: 3px;
    background-color: rgba(182, 179, 225, 1);
    display: flex;
    min-width: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    word-wrap: normal;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    margin: 2px;
}

.card--year-prod {
  position: relative;
  width: 100%;
  height: 13px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 0px 3px;
  flex-wrap: nowrap;
  margin: 0px 5px 0px 0px;
  font-size: 10px;
}

/* dragbar */

@media only screen and (max-width: 600px) {
  .hero--photo{
    width: 97vw;
  }
}
@media only screen and (max-width: 400px) {
  .nav--logo{
    width: 62vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 166, 221);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 124, 176); 
}


footer {
  font-family: 'Bebas Neue';
  padding: 5px;
  margin: 20px 0px 20px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 148, 208);
  letter-spacing: 1px;
  color: white;
  text-align: center;
  text-anchor: middle;
}
footer > div > a {
  margin-left: 5px;
  color: rgb(214, 210, 234)
}
.project {
  padding: 0;
  margin: 0px;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 3px;
}
.project:hover {
  transform: translateY(-2px);
}
.project > a {
  text-decoration: inherit;
  color: rgb(172, 162, 224);
  background-color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

.project > a:hover{
  color: darkslateblue;
}