#root {
  min-width: 280px;
  max-width: 850px;
  margin: 0;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding-left: 15px;
}

.nav--logo {
  height: 32px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  align-items: start;
  justify-content: start;
  padding: 0px 15px;
  flex-wrap: nowrap;
  margin: 20px 0px;
}

.hero--photo {
  display: flex;
  max-width: 400px;
  align-self: center;
  margin-bottom: 15px;
}

.hero--header {
  width: 100%;
  height: 27px;
  color: rgba(107, 101, 167, 1);
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.hero--text {
  width: 100%;
  height: 39.31px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0px;
}
